@page "/weather"
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@if (filteredForecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button class="btn btn-primary" @onclick="filter">Filter</button>
    <button class="btn btn-primary" @onclick="restore">Restore</button>
    <label for="search">Search:</label>
    <input class="form-control" @onchange="@Input" />
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in filteredForecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }

        </tbody>
    </table>
    <p>Number of warm days: @warmDays</p>



}

@code {
    private WeatherForecast[]? forecasts;
    private int warmDays =0;
    private WeatherForecast[]? filteredForecasts;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        var startDate = DateOnly.FromDateTime(DateTime.Now);
        var summaries = new[] { "Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching" };
        forecasts = Enumerable.Range(1, 10).Select(index => new WeatherForecast
        {
            Date = startDate.AddDays(index),
            TemperatureC = Random.Shared.Next(-20, 55),
            Summary = summaries[Random.Shared.Next(summaries.Length)]
        }).ToArray();
        filteredForecasts = forecasts;
        warmDays = forecasts.Count(f => f.TemperatureC >= 15);
    }
    private void filter()
    {
        filteredForecasts = forecasts.Where(f => f.TemperatureC >= 15).ToArray();
    }

    private void restore()
    {
        filteredForecasts = forecasts;
    }
    private void Input(ChangeEventArgs arg)
    {
        filteredForecasts = forecasts.Where(f => f.Summary.Contains(arg.Value.ToString())).ToArray();
    }
    private class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
